<a class="back-to-results" href="#">Back to search results</a>
<div class="product-detail">
    <img class="image" src="http://g.nordstromimage.com/imagegallery/store/product/large/{{image_url}}.jpg" alt="" />
    <dl>
        <dt>Brand</dt>
        <dd>{{brand}}</dd>
        <dt>Description</dt>
        <dd>{{name}}</dd>
        <dt>Product Id</dt>
        <dd>{{style_id}}</dd>
        <dt>Price</dt>
        <dd>{{formatted_regular_price}}</dd>
    </dl>
    <a class="add-to-cart" data-style-id="{{style_id}}" href="/add-to-cart/{{style_id}}">Add to cart</a>
</div>
